<div class='viewport'></div>
<header>
    <div class="container2">
      <a class ='nav2' href="/">Home</a>
      <a class ='nav2' href="/joints">List of  Restaurants</a>
      <a class ='nav2' href="/burgers">All Posts</a>
      <a class ='nav2' href="/about">About Bok</a>
</div>
</header>

<br>
<h4 class='edit-burger'>Edit Burger {{burger.burgerName}}:</h4>
<form class='edit-burger' method='POST' action='/{{burger.id}}?_method=PUT'>
  <!-- <label>Where:</label> -->
  <input type='text' name='restaurantName' placeholder="Restaurant Name" value='{{burger.restaurantName}}'><br><br>
  <!-- <label>When:</label> -->
  <input type='date' name='postedAt' value={{burger.eatenOn}}><br><br>
  <!-- <label>Name of Burger:</label> -->
  <input type='text' name='burgerName' placeholder="Burger Name" value='{{burger.burgerName}}'><br><br>
  <!-- <label>Type of Meat:</label> -->
  <input type='text' name='typeOfMeat' placeholder="Type Of Meat" value='{{burger.typeOfMeat}}'><br><br>
  <!-- <label>Rating:</label> -->
  <input type='number' name='rating' placeholder="Rating between 1 and 10" value='{{burger.rating}}'><br><br>
  <!-- <label>Review:</label> -->
  <textarea id='review-edit' rows='1' cols='26' wrap='hard' type='text' name='review' placeholder="Review Below" value='{{burger.review}}'></textarea><br><br>
  <!-- <label>Image:</label> -->
  <input type='url' name='burgerPic' placeholder="Image URL" value='{{burger.burgerPic}}'><br><br>
  <button class='button' type='submit' name='updateBurger'>Update Burger</button>
</form>


<form class="delete-burger" method='POST' action='/{{burger.id}}?_method=DELETE'>
    <input class='button' type='submit' value='Delete Listing'/>
</form>
