<div class='viewport'></div>
<header>
    <div class="container2">
      <a class ='nav2' href="/">Home</a>
      <a class ='nav2' href="/joints">List of  Restaurants</a>
      <a class ='nav2' href="/burgers">All Posts</a>
      <a class ='nav2' href="/about">About Bok</a>
</div>
</header>

<div class='index-by-img'>
  <div class='imgwrap'>
<a class= 'img' href='../{{_id}}'><img src="http://i.imgur.com/x0MfCKV.png" title="source: imgur.com" /></a>
<a class= 'img' href="./{{_id}}"><img src="http://i.imgur.com/eIxqtvm.png" title="source: imgur.com" /></a>
<a class= 'img' href='/{{_id}}'><img src="http://i.imgur.com/JNIiKML.png" title="source: imgur.com" /></a>
<a class= 'img' href='/{{_id}}'><img src="http://i.imgur.com/lTEfQGC.png" title="source: imgur.com" /></a>
<a class= 'img' href="/{{_id}}"><img src="http://i.imgur.com/x3NocCJ.png" title="source: imgur.com" /></a>
<a class= 'img' href='/{{_id}}'><img src="http://i.imgur.com/Gpefo5k.png" title="source: imgur.com" /></a>
<a class= 'img' href='/{{_id}}'><img src="http://i.imgur.com/ExgTNnw.png" title="source: imgur.com" /></a>
<a class= 'img' href='/{{_id}}'><img src="http://i.imgur.com/WGI6H3w.png" title="source: imgur.com" /></a>
<a class= 'img' href='/{{_id}}'><img src="http://i.imgur.com/iOhFbgF.png" title="source: imgur.com" /></a>
</div></div>

<footer class='long-footer'>
  <a class='links' id='email' href='/email'>Join the #BokBurgerList email</a>
</footer>
