<div id='show-page'>
<br>
<h1 class='show-burger'>{{burger.burgerName}}</h1>
<br>
<h2 class='show-res'>{{burger.restaurantName}}</h2>
<h3>Image goes here
<br><br>
Rating: {{burger.rating}}
<br><br>
Review:
<br>
<div class='review-container'>
{{burger.review}}
</div>

<br>

</h3>

<a class='links' href='/joints'>Back to List<a>
<br>
{{#if test}}
<a class='links' href='/{{burger.id}}/edit'>Update Burger<a>
{{else}}
<!-- <a class='links' href='/'>HOME</a> -->
{{/if}}
<br>
</div>

<!-- <footer>
  <a id='email' href='/email'>Join the #BokBurgerList email</a>
</footer> -->
